<div class="container">
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>CLER<span>PREM</span></div>
		</div>
		<br>
		<div class="login">
			<form (ngSubmit)="onLogin()">
				<input type="text" placeholder="Numero de Empleado" name="n_empleado" [(ngModel)]="n_empleado" required><br>
				<input type="password" placeholder="password" name="pass"  [(ngModel)]="pass" required><br><br>
				<div class="container d-flex gap-3">
				<button type="submit" class="btn btn-outline-primary">Iniciar Sesión</button> 
				<button type="button" class="btn btn-outline-secondary" routerLink="/register">Crear Cuenta</button> </div>
				</form>
				
		</div>
	</div>
		