<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <!-- Menú de hamburguesa izquierdo -->
    <div class="d-flex justify-content-start">
      <button class="navbar-toggler position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft" aria-label="Toggle left navigation">
        <!-- Contador -->
        <span class="badge bg-danger position-absolute top-0 start-100 translate-middle" style="font-size: 15px;">{{ notificationCount }}</span>
        <!-- Icono de hamburguesa -->
        <span class="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14a1.75 1.75 0 0 1-1.75 1.75H1.75A1.75 1.75 0 0 1 0 18.75v-14C0 3.784.784 3 1.75 3ZM1.5 7.412V18.75c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25V7.412l-9.52 6.433c-.592.4-1.368.4-1.96 0Zm0-2.662v.852l10.36 7a.25.25 0 0 0 .28 0l10.36-7V4.75a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25Z"></path></svg>
        </span>
      </button> 
    </div>

    <a class="navbar-brand" href="#">Mesa de Ayuda - Técnico</a>

    <!-- Menú de hamburguesa derecho -->
    <div class="d-flex justify-content-end">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-label="Toggle right navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>

<!-- Offcanvas Menú izquierdo -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLeftLabel">Bandeja de Correos</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Correo 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Correo 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Correo 3</a>
      </li>
    </ul>
  </div>
</div>

<!-- Offcanvas Menú derecho -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/user_reg">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</div>



<div class="container">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Ticket</th>
        <th scope="col">Status</th>
        <th scope="col">Usuario</th>
        <th scpoe="col">Fecha de Aplicación</th>
        <th scope="col">Resumen</th>
        <th scope="col">Area</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let ticket of tickets">
        <th scope="row">{{ ticket.ticket }}</th>
          <!-- Columna Status con íconos de círculos de colores -->
      <td [ngClass]="{
        'text-secondary': ticket.status === 'pendiente', 
        'text-success': ticket.status === 'aprobado', 
        'text-danger': ticket.status === 'rechazado',
        'text-dark': ticket.status  === 'cerrado'
    }">
      <i [ngClass]="{
        'bi-circle-fill': ticket.status === 'pendiente', 
        'bi-check-circle-fill': ticket.status === 'aprobado', 
        'bi-x-circle-fill': ticket.status === 'rechazado',
        'bi-circle': ticket.status === 'cerrado', 
        'fs-3': true
     }"></i>
    </td>
        <td>{{ ticket.user }}</td>
        <td>{{ ticket.date_application }}</td>
        <td>{{ ticket.resumen }}</td>
        <td>{{ ticket.area }}</td>
      <td><button type="button" class="btn btn-success"
        [disabled]="ticket.status === 'aprobado' || ticket.status === 'rechazado' || ticket.status === 'cerrado'"
        [routerLink]="['/reply_ticket', ticket.ticket]">
        Responder
      </button></td>
      <td><button type="button" class="btn btn-dark"
        [disabled]="ticket.status === 'pendiente' || ticket.status === 'rechazado' || ticket.status === 'cerrado'"
        [routerLink]="['/reply_ticket', ticket.ticket]">
        Cerrar
      </button></td>
      </tr>
    </tbody>
  </table>
</div>
